/* Variables */
:root {
  --basic-black: #000000;
  --basic-green: #00CA74;
  --basic-red: #FB565A;
  --basic-yellow: #EFC849;
  --basic-gray: #E1E1E1;
  --nav-gray: #EEEEEE;
  --basic-white: #FFFFFF;
  --hover-red: #E74246;
  --hover-green: #00BC6C;
  --hover-yellow: #EAB534;
  --hover-gray: #DFDFDF;
  --pressed-red: #D7373B;
  --pressed-green: #00AA62;
  --pressed-yellow: #E5A722;
  --pressed-gray: #D5D5D5;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --transparent-black: rgba(0, 0, 0, 0.3);
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  padding-top: 50px;
  background-color: var(--nav-gray);
}

/* Main navigation */
.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
  display: flex;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  display: block;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-navigation-wrapper {
  background-color: var(--nav-gray);
}

.site-navigation {
  width: 800px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.site-navigation li {
  padding: 0 23px;
}

.cart {
  list-style: none;
  position: relative;
  width: 160px;
  padding-top: 25px;
  text-align: right;
}

.cart::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 32px;
  left: 45px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

/* User navigation */
.site-navigation a,
.cart-link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart-link:hover,
.cart-link:focus,
.site-navigation a:focus {
  color: var(--basic-red);
}

.cart-link:active,
.site-navigation a:active {
  color: var(--transparent-black);
}

.center {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Sliders */
.sliders {
  position: relative;
  background-color: var(--nav-gray);
}

.slider-item .slider-title {
  display: block;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url('../img/nerds-index-slide1.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(2) {
  background-image: url('../img/nerds-index-slide2.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url('../img/nerds-index-slide3.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list {
  list-style: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls label::after {
  content: '';
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.btn-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

.btn-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

.btn-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

.btn-1:checked~.slider-controls .slider-controls-item--1::before,
.btn-2:checked~.slider-controls .slider-controls-item--2::before,
.btn-3:checked~.slider-controls .slider-controls-item--3::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item .slider-item-button {
  padding: 16px 0 14px;
  font-weight: 500;
}

/* Services */
.services {
  margin-bottom: 30px;
  position: relative;
}

.services::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #eeeeee;
  width: 1160px;
  bottom: -30px;
}

.services h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  color:var(--basic-black);
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-web::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-web.jpg");
  background-repeat: no-repeat;
  top: -174px;
}

.service-app::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-apps.jpg");
  background-repeat: no-repeat;
  top: -174px;
}

.service-presentation::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-presentation.jpg");
  background-repeat: no-repeat;
  top: -174px;
}

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.services-item {
  text-align: left;
  width: 300px;
  padding: 0;
  margin: 0;
  padding-top: 174px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.service-item .button {
  padding: 16px 0;
  width: 160px;
}

.services p {
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
}

/* About */
.about-us {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-list {
  list-style: none;
}


/* Companies */
.companies-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* Button */
.button {
  display: block;
  width: 240px;
  padding: 18px 0;
  font: inherit;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  color: var(--basic-white);
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  background-color: var(--basic-red);
}

.button:hover,
.button:focus {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--pressed-red);
  color: var(--transparent-white);
}

.button-app-order {
  background-color: var(--basic-green);
}

.button-app-order:hover,
.button-app-order:focus {
  background-color: var(--hover-green);
}

.button-app-order:active, {
  background-color: var(--pressed-green);
  color: var(--transparent-white);
}

.button-presentation-order {
  background-color: var(--basic-yellow);
}

.button-presentation-order:hover,
.button-presentation-order:focus {
  background-color: var(--hover-yellow);
}

.button-presentation-order:active, {
  background-color: var(--pressed-yellow);
  color: var(--transparent-white);
}

/* Statistics */
.statistics {
  width: 360px;
  margin: 0;
  padding: 0;
}

.statistics img {
  margin: 0;
  width: 360px;
  height: 208px;
  margin-bottom: 30px;
}

.statistics-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 360px;
}

.statistics .statistics-title {
  display: block;
  padding-left: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 15px;
}

.statistics .statistics-item {
  list-style: none;
  width: 106px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-right: 22px;
}

.statistics-numbers {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  padding-top: 35px;
}

.statistics-numbers sup {
  vertical-align: baseline;
  top: -15px;
  font-size: 28px;
}

.statistics-item span {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.companies {
  position: relative;
}

.companies::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #eeeeee;
  width: 1160px;
}

.companies::after {
  content: '';
  position: absolute;
  bottom: -4px;
  border-bottom: 2px solid var(--nav-gray);
  width: 1160px;
}

.companies-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  min-height: 180px;
}

.companies-list a {
  display: block;
  opacity: 0.2;
  padding: 0;
  margin: 0;
  width: 260px;
  height: 180px;
}

.companies-list a:hover,
.companies-list a:focus {
  opacity: 1;
}

.companies-list a:active {
  opacity: 0.1;
}

.companies-item {
  position: relative;
  width: 260px;
  margin-right: 20px;
}

.companies-item:nth-child(3n) {
  margin-right: 15px;
}

.companies-item:nth-child(4n) {
  margin-right: 0;
}

.companies-item::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--nav-gray);
  opacity: 1;
  top: 50%;
  margin-top: -26px;
  margin-left: -20px;
}

.companies-list li:nth-child(5n)::after,
.companies-list li:first-child::after {
  display: none;
}

/* Main footer */
.main-footer {
  margin-top: 85px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 80px;
  padding-bottom: 68px;
  text-align: center;
}

.map {
  overflow: hidden;
  position: relative;
  height: 416px;
}

.map-interactive iframe {
  border: none;
  position: relative;
  z-index: 30;
  width: 100%;
}

.map-image {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1440px;
  height: 416px;
}

.map-interactive {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 416px;
}

.contacts {
  width: 220px;
  margin: 0;
  padding: 48px 48px 47px 51px;
  position: relative;
  z-index: 20;
  background-color: #ffffff;
  margin-top: 55px;
}


.contacts p {
  margin-top: 25px;
  margin-right: 10px;
  line-height: 18px;
  color: #666666;
  max-height: 120px;
  overflow: hidden;
}

.contacts .phone {
  line-height: 18px;
  color: #666666;
}

.contacts .button {
  margin-top: 30px;
  width: 220px;
  vertical-align: middle;
}

/* Contacts */
.contacts-phone {
  color: inherit;
}

.studio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.friendship {
  text-align: center;
}

.lets-be {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.social-media-list {
  list-style: none;
}

.social-media-list a {
  color: var(--basic-black);
}

/*Catalog*/
.main-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.main-heading-background {
  background-color: var(--basic-gray);
}

.catalog ul {
  list-style: none;
}

.catalog-item-title {
  color: var(--basic-black);
}

.pagination-button {
  background-color: var(--nav-gray);
  color: var(--basic-black);
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--hover-gray);
  color: var(--basic-black);
}

.pagination-button:active {
  background-color: var(--pressed-gray);
  color: var(--transparent-black);
